#container {
    margin-left: 25%;
    margin-right: 25%;
    /* background-color: red; */
    text-align: center;
}

#emptyListPlaceholder {
    position: absolute;
    top: 50%; left: 0; right: 0;
    font-size: 20px;
    color: gray;
    z-index: -9;
    /* background-color: cornflowerblue; */
}

textarea {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
    resize: vertical;
    font-size: 16px;
}

#titleBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

#moreButton {
    width: 80px;
    padding: 5px;
}

/* Title of ToDo */
input { 
    padding-right: 10px;
    font-size: 18px;
    border: none;
    flex-grow: 2;
}

button {
    padding: 10px;
    border: 1px solid black;
    font-size: 15px;
    width: 100%;
}

button, textarea, input:focus {
    outline: 0px;
}