#tabButtons button {
    width: 50%;
}

.selectedTab {
    background: gray;
}

button {
    padding: 10px;
    border: 1px solid black;
    font-size: 15px;
    width: 100%;
}

button, textarea, input:focus {
    outline: 0px;
}