body {
    font-family: sans-serif;
}

button {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
textarea {font-family: Roboto, "Helvetica Neue", sans-serif;}